
.var_header{
    margin-top: 25px;
}

.example {
  background: url(onigiri-neko-cat.png);
  background-size: contain, cover;
}


/* #card-text{
    display: block;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} */



.inputdiv{
  background: #fedeff;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing:2px;
  
}





.recipe{
  text-transform:lowercase;
  font-size: 12px; 
  letter-spacing:2px;
  background: #fedeff;
  border-radius: 25px;

  
}


.recipep{
  color: #330036;
    background: #fedeff;
    
}

.recipeheader{
  background: #fedeff;
  letter-spacing:10px;
  color: #6f5e5c;
  font-size: 32px;
  border-bottom: 1px solid #6f5e5c;
  border-top-left-radius: 8px;
  border-top-right-radius: 18px;
  font-family: "Zen Maru Gothic", Arial, Helvetica, sans-serif;
}

.recipebody{
  letter-spacing:4px;
  font-size: 13px;
  margin: 12px;

}

.recipeb{
  background: #fedeff;

  text-transform:lowercase; 
  letter-spacing:2px;
  color: #6f5e5c;
 
}