body {
  font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: larger;
    /* text-shadow: 2px 2px 7px #6F5E5C; */
    color: #393939;
}
.recipeFormHeaderDiv { /* modifies the area on add-recipe next to onigiri image*/
    background-color: #FEDEFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    float: right;
    width: 400px;
    padding: 10px;
    text-align: left;
  }
  
  .recipeFormHeaderDiv input { /* adjusts the format of form boxes*/
    width: 300px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .TimeOfDay { /* specifically edits the time of day segment */
    width: 300px;
    color: #6F5E5C;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .recipeFormHeaderDiv textarea { /* adjusts formatting of the textbox at the bottom*/
    width: 300px;
    height: 100px;
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 15px;
  }
  
  .wrapperAR{ /* container for the three divs at the top */
    width: 930px;
  }

  .leftWrapper { /* contains the image and the ingredients buttons*/
    border-radius: 10px;
    margin-left: 260px;
    width: 250px;
    display: flex;
    flex-direction: column;
    float: left;
  }

  .recipeImg { /*specifically edits img placeholder size */
    width: 125px;
    height: 115px;
    /* background-color: #fff; */
    border-radius: 10px;
  }
  
  .RecipeImgDiv {  /* the div that the image sits in*/
    display: flex;
    background-color: #FEDEFF;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;
  }

  .ingredients { /* ingredients box that sits under image*/
    background-color: #FEDEFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    max-height: 315px;
    padding: 10px 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .ingredients input { /* adjusts the format of form boxes*/
    width: 150px;
    margin-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .recipeInstructions { /* the div that the recipe steps sit in*/
    width: 670px;
    background-color: #FEDEFF;
    display: flex;
    float: left;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 260px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    overflow-y: scroll;
    overflow-x: hidden;

  }
  .recipeInstructions textarea { /* adjusts formatting of the textboxes for recipe instructions*/
    width: 600px;
    /* height: 75px; */
    margin-left: 25px;
    margin-bottom: 0;
    margin-top: 15px;
    overflow-y: scroll;
    overflow-wrap: normal;
  }

/* Scrollbar!!! */
  ::-webkit-scrollbar{
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#D10081, #330036);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  /* Scrollbar End!!! */

  /* SUBMIT BUTTON */

.submitAR {
    padding: 15px 20px;
    background: #D10081;
    border:0;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  .submitAR::after,
  .submitAR::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .submitAR::after{
      width: 30px;
      height: 1px;
      background: white;
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  .submitAR::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid white;
      border-bottom: 1px solid white;
    margin-top: -1px;
  }
  
  .submitAR:hover{
    padding: 15px 60px 15px 20px;
  }
  
  .submitAR:hover::after,
  .submitAR:hover::before{
    opacity: 1;
    right: 15px;
  }
  
  /* SUBMIT BUTTON END */

  .spacer {
    margin-top: 2.5rem;
  }